*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    width: 250px;
    border: 2px solid gainsboro;
    border-radius: 5px;
    padding: 4px;
    margin-top: 15px;
}

 img{
    width: 238px;
}

.des p{
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.price{
    font-size: 20px;
    font-weight: bolder;
    color: rgb(255, 140, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.pre-price{
    text-decoration: line-through;
    display: inline-block;
    color: rgb(156, 155, 155);
}

.discount{
    font-size: 13px;
    margin-left: 5px;
    font-family: ;
}
